#### 26/11/2020 - Tursday

In [1]:
import datetime

now = datetime.datetime.now()
print("Current date and time: ", now)

Current date and time:  2023-02-17 20:10:15.250658

<hr style="border:5px solid #108999"> </hr>

# Python Variables and Types of Data <hr style="border:4.5px solid #108999"> </hr>

## Variables

In [2]:
x = 5

In [3]:
x

5

In [4]:
y = 8

In [5]:
Y

NameError: name 'Y' is not defined

### PYTHON IS CASE SENSITIVE

In [5]:
print (y)

8

In [6]:
x,y = (1,2)

In [7]:
x

1

In [8]:
y

2

In [9]:
x,y = (1,2,3)

ValueError: too many values to unpack (expected 2)

## Numbers and Boolean Values

In [10]:
x1 = 5

In [11]:
type(x1)

int

In [12]:
type(-6)

int

In [13]:
x2 = 4.75

In [14]:
type(x2)

float

In [15]:
int(x2)

4

In [16]:
float(5)

5.0

In [17]:
x3 = True

In [18]:
type(x3)

bool

In [19]:
x3 = true

NameError: name 'true' is not defined

## Strings

In [1]:
George

NameError: name 'George' is not defined

In [22]:
'George'

'George'

In [23]:
"George"

'George'

In [24]:
print ('George')

George

In [25]:
print ("George")

George

In [6]:
x4 = "George"

In [7]:
x4

'George'

In [26]:
y = 10
print (y + "Dollars")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
y = 10
print (str(y) + " Dollars")

10 Dollars

In [28]:
'I'm fine'

SyntaxError: unterminated string literal (detected at line 1) (3537474532.py, line 1)

In [29]:
"I'm fine"

"I'm fine"

In [31]:
'I\'m fine'

"I'm fine"

In [32]:
'Aren\'t you hungry?'

"Aren't you hungry?"

In [33]:
'Press "Enter"'

'Press "Enter"'

In [34]:
'Red' 'car'

'Redcar'

In [35]:
'Red' 'Hot' 'Chili' 'Peppers'

'RedHotChiliPeppers'

In [15]:
'Red ' 'car'

'Red car'

In [38]:
print('Red', 'Hot', 'Chili', 'Peppers')

Red Hot Chili Peppers

In [39]:
'Red ' + 'car'

'Red car'

In [40]:
print ('Red ' + 'car')

Red car

In [41]:
print ('Red', 'car')

Red car

<hr style="border:5px solid #108999"> </hr>

# Basic Python Syntax <hr style="border:4.5px solid #108999"> </hr>

## Arithmetic operators

In [42]:
print (3,5)

3 5

In [43]:
3, 5, 6.9, 7.0, 'car'

(3, 5, 6.9, 7.0, 'car')

In [44]:
1 + 2

3

In [4]:
3 - 5

-2

In [45]:
15 / 3

5.0

In [46]:
16/ 3

5.333333333333333

In [47]:
float(16) / 3

5.333333333333333

In [11]:
16.0 / 3

5.333333333333333

### DIVIDEND / DIVISOR = QUOTIENT(REMAINDER)

### 16 / 3 = 5 (1)

### Resto da divisao -- REMAINDER --> %

In [49]:
#remainder
16 % 3

1

In [50]:
5 * 3

15

In [51]:
x = 5 * 3

In [52]:
x

15

In [61]:
print(15 / 3)

5.0

In [65]:
print(round(40*1000/13, 2))

3076.92


## The double-equality sign

In [53]:
#Raises the left operando to the power of the right operand
5 ** 3

125

In [54]:
y = 5 ** 3

In [55]:
y

125

In [56]:
y == 125

True

In [57]:
y == 126

False

In [58]:
True == 1

True

In [24]:
False == 0

True

## Reassign Values

In [1]:
z = 1
z

1

In [2]:
z = 3
z

3

In [3]:
z + 5

8

In [4]:
z = 7
z

7

In [5]:
3 + 5

8

In [6]:
3 + '5'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
3 + 5.0

8.0

## Add Comments

In [66]:
#This is just a comment and not code! 
print (7,2)

7 2

In [67]:
# Comment 1
# Comment 2
print (300)

300

## Line Continuation

In [26]:
2.0 * 1.5 + \
5

8.0

In [28]:
2 * 1.5 + 1/25**2 - 65 + \
5**2 + 36 - 78 + \
4%8

-74.9984

In [30]:
import numpy as np

In [31]:
np.sqrt(25)

5.0

## Indexing Elements

In [1]:
"Friday"

'Friday'

In [2]:
"Friday"[3]

'd'

In [3]:
"Friday"[4]

'a'

In [32]:
print('Holidays!'[6])

y

## Structure Your Code with Indentation

In [2]:
def five(x):
    x = 5
    return x
    print (five(3))

In [3]:
def power_two(x):
    return x**2

print (power_two(3))

9

<hr style="border:5px solid #108999"> </hr>

# Operators <hr style="border:4.5px solid #108999"> </hr>

## Comparison Operators

In [1]:
10 == 20 / 2

True

In [2]:
10 != 10

False

In [3]:
10 != 15

True

In [4]:
100 > 50

True

In [5]:
100 < 50

False

In [6]:
15 >= 10 + 10

False

In [7]:
15 <= 10 + 5

True

## Logical and Identity Operators

** Logical Operators: **

In [11]:
True and True

True

In [1]:
True and False

False

In [54]:
False and False

False

In [53]:
False or False

False

In [56]:
True or True

True

In [57]:
True or False

True

In [58]:
False or True

True

In [59]:
not True

False

In [60]:
not False

True

In [2]:
3 > 5 and 10 <= 20

False

### **Not - And - Or**

In [13]:
True and not True

False

In [15]:
False or not True and True

False

In [2]:
True and not True or True

True

In [8]:
#Test -> True
True or False or False and True

True

**Identity Operators:**

In [4]:
5 is 6

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-4-635fcd361971>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 6

False

In [5]:
5 == 6

False

In [6]:
5 is not 6

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-6-d7a89cdfaf51>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  5 is not 6

True

In [7]:
5 != 6

True

<hr style="border:5px solid #108999"> </hr>

# Conditional Statements <hr style="border:4.5px solid #108999"> </hr>

## Introduction to the IF statement

In [9]:
if 5 == 15 / 3:
    print ("Porra!")

Porra!

In [10]:
if 5 == 18 / 3:
    print ("Hooray!")
else:
    print("chupa")

chupa

In [3]:
if 5 != 3 * 6:
    print ("Hooray!")

Hooray!

## Add an ELSE Statement

In [11]:
x = 1

if x > 3: 
    print ("Case 1")
if x <= 3:
    print ("Case 2")

Case 2

In [12]:
x = 1

if x > 3:
    print ("Case 1")
else:
    print ("Case 2")

Case 2

In [13]:
x = 1

if x > 3:
    print ("Case 1")
    else:
        print ("Case 2")

SyntaxError: invalid syntax (<ipython-input-13-ba050cb5c72b>, line 5)

## Else if, for Brief - ELIF

In [14]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 5:
        return "Less"
    else:
        return "Equal"

In [15]:
print (compare_to_five(10))

Greater

In [16]:
print (compare_to_five(2))

Less

In [17]:
print (compare_to_five(5))

Equal

In [5]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 0:
        return "Negative"
    elif y < 5:          
        return "Less"
    else:
        return "Equal"

In [6]:
print (compare_to_five(-3))

Negative

In [7]:
print (compare_to_five(3))

Less

In [8]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 5:
        return "Less"
    elif y < 0:          
        return "Negative"
    else:
        return "Equal"

In [9]:
print (compare_to_five(-3))

Less

In [10]:
print (compare_to_five(3))

Less

## A Note on Boolean Values

In [1]:
x = 2

if x > 4:
    print ("Correct")
else:
    print ("Incorrect")

Incorrect

<hr style="border:5px solid #108999"> </hr>

# Functions <hr style="border:4.5px solid #108999"> </hr>

#### 30/11/2020 - Monday

## Defining a Function in Python

In [1]:
def simple():
    print ("My first function")

In [2]:
simple()

My first function

## Creating a Function with a Parameter

In [3]:
def plus_ten(a):
    return a + 10

In [4]:
plus_ten(2)

12

In [5]:
plus_ten(5)

15

## Another Way to Define a Function

In [3]:
def plus_ten(a):
    result = a + 10
    return result

In [4]:
plus_ten(2)

12

In [5]:
def plus_ten(a):
    result = a + 10
    return "Outcome:"
    return result

In [6]:
plus_ten(2)

'Outcome:'

In [7]:
def plus_ten(a):
    result = a + 10
    print ("Outcome:")
    return result

In [8]:
plus_ten(2)

Outcome:

12

## Using a Function in Another Function

In [9]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [10]:
wage(8), with_bonus(8)

(200, 250)

In [11]:
with_bonus(8)

250

## Combining Conditional Statements and Functions

In [12]:
def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return "Save more!"

In [13]:
add_10(110)

120

In [14]:
add_10(50)

'Save more!'

## Creating Functions Containing a Few Arguments

In [15]:
def subtract_bc(a,b,c):
    result = a - b*c
    print ('Parameter a equals', a)
    print ('Parameter b equals', b)
    print ('Parameter c equals', c)
    return result

In [16]:
subtract_bc(10,3,2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

In [17]:
subtract_bc(b=3,a=10,c=2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

## Notable Built-In Functions in Python

In [18]:
type(10)

int

In [19]:
int(5.0)

5

In [20]:
float(3)

3.0

In [21]:
str(500)

'500'

In [22]:
max(10, 20, 30)

30

In [23]:
min(10, 20, 30)

10

In [24]:
z = -20
abs(z)

20

In [25]:
list_1 = [1,2,3,4]

In [26]:
sum(list_1)

10

In [27]:
round(3.555,2)

3.56

In [28]:
round(3.2)

3

In [29]:
2 ** 10

1024

In [30]:
pow(2,10)

1024

In [31]:
len('Mathematics')

11

In [32]:
len(list_1)

4

<hr style="border:5px solid #108999"> </hr>

# Sequences <hr style="border:4.5px solid #108999"> </hr>

## Lists

In [1]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [2]:
print (Participants[1])

Leila

In [3]:
Participants[-1]

'Cate'

In [4]:
Participants[-2]

'Gregory'

In [37]:
#substitute an element
Participants[3]='Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [38]:
#delete an element
del Participants[2]
Participants

['John', 'Leila', 'Maria']

In [7]:
Participants[2]

'Maria'

## Help Yourself with Methods

In [2]:
#add a new element in a list
Participants.append("Dwayne")
Participants

['John', 'Leila', 'Gregory', 'Cate', 'Dwayne']

In [3]:
#quando faco o append com varios elementos, ele adiciona uma lista dentro da lista
Participants.append("Japan")
Participants

['John', 'Leila', 'Gregory', 'Cate', 'Dwayne', 'Japan']

In [4]:
len(Participants)

6

In [5]:
del Participants[-1]

In [6]:
#Method Extend
Participants.extend(['USA', 'Brasil'])
Participants

['John', 'Leila', 'Gregory', 'Cate', 'Dwayne', 'USA', 'Brasil']

In [7]:
#quando faco Extend com 1 elemento, ele separa em cada letra do nome
Participants.extend(['Italy'])
Participants

['John', 'Leila', 'Gregory', 'Cate', 'Dwayne', 'USA', 'Brasil', 'Italy']

In [8]:
Participants.append(['India', 'Germany'])
Participants

['John',
 'Leila',
 'Gregory',
 'Cate',
 'Dwayne',
 'USA',
 'Brasil',
 'Italy',
 ['India', 'Germany']]

In [9]:
Participants.extend(['France', 'Portugal'])
Participants

['John',
 'Leila',
 'Gregory',
 'Cate',
 'Dwayne',
 'USA',
 'Brasil',
 'Italy',
 ['India', 'Germany'],
 'France',
 'Portugal']

In [10]:
print ('The first participant is ' + Participants[0] + '.')

The first participant is John.

In [11]:
len('Dolphin')

7

In [12]:
len(Participants)

11

In [13]:
Participants[4][0]

'D'

## List Slicing

In [14]:
Participants = ['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [15]:
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [16]:
#1 - incluso: 3 excluso
Participants[1:3]

['Leila', 'Maria']

In [17]:
Participants[:2]

['John', 'Leila']

In [18]:
Participants[4:]

['George', 'Catherine']

In [19]:
Participants[-2:]

['George', 'Catherine']

### INDEX

In [22]:
George_ind = Participants.index("George")

In [20]:
Maria_ind = Participants.index("Maria")
Maria_ind

2

*********

In [25]:
Newcomers = ['Joshua', 'Brittany']
Newcomers

['Joshua', 'Brittany']

In [26]:
Bigger_List = [Participants, Newcomers]
Bigger_List

[['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine'],
 ['Joshua', 'Brittany']]

In [27]:
Participants.sort()
Participants

['Catherine', 'Dwayne', 'George', 'John', 'Leila', 'Maria']

In [28]:
Participants.sort(reverse=True)
Participants

['Maria', 'Leila', 'John', 'George', 'Dwayne', 'Catherine']

In [29]:
Numbers = [1,2,3,4,5]
Numbers.sort()
Numbers

[1, 2, 3, 4, 5]

In [30]:
Numbers.sort(reverse = True)
Numbers

[5, 4, 3, 2, 1]

#### 02/12/2020 - Wednesday

### 07Mar2023 - Tuesday

## Tuples

In [31]:
x = (40, 41, 42)
x

(40, 41, 42)

In [32]:
y = 50, 51, 52
y

(50, 51, 52)

In [33]:
#Tuple Assigment
a,b,c = 1,4,6
c

6

In [34]:
#nao se pode modificar o valor de uma tupla
x[0] = 44

TypeError: 'tuple' object does not support item assignment

In [35]:
x[0]

40

In [36]:
List = [x, y]
List

[(40, 41, 42), (50, 51, 52)]

In [1]:
#exemplo de como salvar um doc csv -- split method
(age, years_of_school) = "30,17".split(',')
print (age)
print (years_of_school)

30
17

In [37]:
#Funcao que retorna uma tupla
def square_info(x):
    A = x ** 2
    P = 4 * x
    print ("Area and Perimeter:") 
    return A,P

square_info(3)

Area and Perimeter:

(9, 12)

## Dictionaries

In [38]:
#represents another way to store data
# KEY-VALUE PAIR
# use curly braces

dict = {'k1': "cat", 'k2': "dog", 'k3': "mouse", 'k4': "fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [39]:
dict['k1']

'cat'

In [40]:
dict["k3"]

'mouse'

In [55]:
dict["k5"]

'parrot'

In [54]:
print(dict.get('k6'))

None

In [56]:
dict['k5'] = 'elephant'
dict

{'k1': 'cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'elephant'}

In [43]:
dict['k2'] = 'squirrel'
dict

{'k1': 'cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

******

In [44]:
#dictionary with a list as an element
dep_workers = {'dep_1': 'Peter', 
               'dep_2': ['Jennifer', 'Michael', 'Tommy']}

In [45]:
dep_workers['dep_2']

['Jennifer', 'Michael', 'Tommy']

******

In [1]:
#defining a dictionary 
Team = {}
Team['Point Guard'] = 'Dirk'
Team['Shooting Guard'] = 'Al'
Team['Small Forward'] = 'Sean'
Team['Power Forward'] = 'Alexander'
Team['Center'] = 'Hector'

In [2]:
print (Team)

{'Point Guard': 'Dirk', 'Shooting Guard': 'Al', 'Small Forward': 'Sean', 'Power Forward': 'Alexander', 'Center': 'Hector'}

In [3]:
print (Team['Center'])

Hector

In [4]:
# GET
print (Team.get('Small Forward'))

Sean

In [5]:
print(Team['Coach'])

KeyError: 'Coach'

In [6]:
# there is no error even if the name Coach is not a part of the dictionary
print (Team.get('Coach'))

None

<hr style="border:5px solid #108999"> </hr>

# Iteration <hr style="border:4.5px solid #108999"> </hr>

### 05/12/2020 - Saturday

## For Loops

In [3]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [4]:
for n in even:
    print (n)

0
2
4
6
8
10
12
14
16
18
20

In [5]:
for n in even:
    print (n, end=" ")

0 2 4 6 8 10 12 14 16 18 20

## While Loops and Incrementing

In [1]:
x = 0
while x <= 20:
    print (x, end=" ")
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [2]:
x = 0
while x <= 20:
    print (x, end=" ")
    x += 2

0 2 4 6 8 10 12 14 16 18 20

## Create Lists with the range() Function

### RANGE([START,] STOP [, STEP])

In [7]:
range(10)

range(0, 10)

In [2]:
range(3,7)

range(3, 7)

In [3]:
range(1,20,2)

range(1, 20, 2)

## Use Conditional Statements and Loops Together

In [8]:
for n in range(10):
    print (2 ** n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [9]:
for x in range(20):
    if x % 2 == 0:
        print (x, end = " ")
    else:
        print ("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

********

In [11]:
x = [0,1,2]

In [12]:
for item in x:
    print (item, end = " ")

0 1 2

In [13]:
for item in range(len(x)):
    print (x[item], end = " ")

0 1 2

In [16]:
def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total += 1
    return total

In [17]:
list_1 = [1,3,7,15,23,43,56,98]

In [18]:
count(list_1)

4

In [19]:
list_2 = [1,3,7,15,23,43,56,98,17]

In [20]:
count(list_2)

5

## Iterating over Dictionaries

In [21]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 1
    }

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i]*quantity[i])
    
print (money_spent)

76